@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  margin:0;
  padding: 0;
 



}

.container{
  width: 100%;
  max-width: 960px;
  // margin: 0 auto;
  margin: 0 -55px;
  padding: 0 20px;
  text-align: center;



}
.modalActive{
  background-color: rgb(167, 162, 162);
  overflow: hidden;
  // width: 100%;
  // max-width: 960px;
  // margin: 0 auto;
  // padding: 0 20px;
  // text-align: center;
}