.cartdetails{
    width: 100%;
    max-width: 960px;
    // margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    margin-left: 250px;
    overflow: hidden;

    .cart-items{

    }

    .cart-total{
        // border-top: grey solid;
        width: 550px;
        margin-left: 200px;
        margin-top: 20px;
      
    }

    .purchase{
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: -40px;
        padding: 10px 20px;
        border: 1px solid rgb(167, 160, 160);
        border-radius: 5px;
        background: rgb(176, 183, 185);
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        appearance: button;
    }

  



   
}
