.cartdetails{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    // margin-left: 250px;


    .cart-items{

    }

    .cart-total{
      
    }
}