.orders {
  margin-right: 120px;
  position: absolute;
  width: 50%;

  
  
  .order {
      //  position: absolute;
      // margin-top: 80px;
     
  
    .order,
    .order-headings {
   
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      margin-left: 200px;
      margin-bottom: 20px;
      background: #f4f4f4;
      padding: 10px 15px;
      border-radius: 5px;
      text-align: center;
      margin-top: 60px;
  


      width: 160%;
      // padding: 0 20px;
   
    }

    .order-headings {
      font-weight: 700;
   
    }
  }
}
