.footer{
    width: 180%;
   min-height: 50px;
    background-color: rgb(197, 218, 218);
    padding:  20px;
    
    span {
        margin-left: 550px;
        font-weight: 700;
      
    }
  
   
}