.paymentModal {
  width: 100%;
  height: 450px;
  // margin-top: 30px;
  overflow: hidden;

  z-index: 1;

  background-color: rgba(92, 84, 84, 0.568);

  width: 60%;
  // height: 110vh;
  position: absolute;
  top: 100px;

  display: flex;
  z-index: 999;
  align-items: center;
  justify-content: center;
  padding: 20px;

  form {
    width: 30%;
    margin: 0 auto;

    .form-group {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .form-group input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-family: inherit;
      position: relative;
    }
    input:focus {
      outline: none;
    }

    .card {
      position: absolute;

      margin-left: -30px;
      margin-top: 10px;
      font-size: 20px;
    }

    .form-groupBtn {
      display: flex;

      .btn {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: 70px;
        padding: 10px 20px;
        border: 1px solid rgb(167, 160, 160);
        border-radius: 5px;
        background: rgb(176, 183, 185);
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        appearance: button;
      }

      .btn:hover {
        background-color: rgb(49, 49, 77);
      }

      .cancel {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-right: -10px;
        padding: 10px 20px;
        border: 1px solid rgb(167, 160, 160);
        border-radius: 5px;
        background: rgb(176, 183, 185);
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        appearance: button;
      }

      .cancel:hover {
        background-color: rgb(49, 49, 77);
      }
    }
  }
}
