.searchItem{

   

    width: 150%;
    justify-content: center;
    margin-left: -350px ;
    
  
    .items{
        margin-top: 20px;
        margin-left: 550px;

        h3{
            margin-left: 100px;
            font-size: large;
            font-weight: 400;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }
        input[type=radio] {
            border: 0px;
            width: 1%;
            height:0px;
            // z-index: 1;
         
         
        }

        .items input{
            // position: absolute;
            // margin-right: -100px;
            justify-content: space-between;
             margin-left: 60px;
             width: 100%;
         
            //  visibility: hidden;
            //  position: fixed;
            //  opacity: 0;
        }

        .asBtn{
            cursor: pointer;
            // margin-left: 10px;
            // background-color: #5b748b;
            border-radius: 30px;
            width: 255px;
            margin-left: -40px;
            margin-bottom: -50px;
            height: 350px;
            font-weight: 600;
            font-size:x-large;
            color: grey;
            // background-color: rgb(177, 186, 201);
            padding: 10px;


        
       
       
        }
        .asBtn:hover {
           
            color: rgb(8, 3, 87);
            // color: white;
        }

      
        
       

    }
    .items input{
      justify-content: space-between;
      margin-left: 60px;
    }
}

.titleBestSellers{
    margin-left: 650px;
}



.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
    grid-gap:15px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: rgb(251, 252, 255);
    margin-bottom: 150px;

    width: 160%;
    

  
   

  
}


.bestSellers{
    // display: flex;
    background-color: rgb(246, 242, 242);
    width: 100%;
    
    height: 250px;
    margin: 0% 25%;
    margin-bottom: 150px;
    border-radius: 30px;

  

    .carousel{
        cursor: grab;
        overflow: hidden;
        // background-color: rgb(151, 113, 113);
      

        .inner-carousel{
            display: flex;
            // background: lightblue;



            .item{
                min-height: 20rem;
                min-width: 30rem;
                // padding: 10px;
          
             
            }

            .item img {
                width: 50%;
                height: 60%;
                border-radius: 2rem;
                pointer-events: none;
          
            }
         
        }
    }
}